{% extends "common/base.side.html" %}

{% block title %}
    Edit Commit
{% endblock %}

{% block rcontent %}
    <div class="btn-toolbar">
        <div class="btn-group">
            {% url "commitweburl" as thecommitweburl %}
            <a class="btn btn-default {%if request.path = thecommitweburl%} active {%endif%}" href={{ thecommitweburl }}><span class="glyphicon glyphicon-edit"></span>提交代码</a>
            {% url "listweburl" as thelistweburl %}
            <a class="btn btn-default {%if request.path = thelistweburl%} active {%endif%}" href={{ thelistweburl }}><span class="glyphicon glyphicon-list"></span>更新列表</a>
        </div>
    </div>

    <hr/>
	<div class="alert alert-warning" role="alert">
		<strong>执行操作之后请耐心等待不要刷新，以免发生意外！</strong>
	</div>
    <form class="form-horizontal" role="form" action={% url "commitweburl" %} method="POST" >
    {% csrf_token %}

        {% for item in form %}
            <div class="form-group">
                <label class="control-label col-md-1">{{item.label}}</label>
                <div class="col-md-2">
                    {{item}}
                </div>
                <div class="col-md-offset-1 col-md-10">
                    {{item.errors}}
                </div>
            </div>
        {% endfor %}

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('确认要更新吗？')">更 新</button>
            <div>
        </div>
    </form>
{% endblock %}
